<!DOCTYPE html>
<html lang="en">
	<input id="first" type="text" placeholder="Firstname">
		<a href="/contacts" role="button" style="padding:20px"> search </a>
		<a href="/" role="button" style="padding:20px" onclick="DoLogout()"> logout </a><br>
	<input id="last" type="text" placeholder="Lastname"><br>
	<input id="mail" type="text" placeholder="Email"><br>
	<input id="city" type="text" placeholder="City"><br>
	<input id="state" type="text" placeholder="State"><br>
	<button value="Submit" onclick="addUser("false");">Add Contact</button>
	<div id="confirmAdd"></div>

	<input id="firstN" type="text" placeholder="Firstname"><br>
	<input id="lastN" type="text" placeholder="Lastname"><br>
	<input id="mailN" type="text" placeholder="Email"><br>
	<input id="cityN" type="text" placeholder="City"><br>
	<input id="stateN" type="text" placeholder="State"><br>
	<button value="Submit" onclick="addUser("true");">Modify Contact</button>
	<div id="confirmModify"></div>

	<!-- delete not working yet -->
	<input id="firstD" type="text" placeholder="Firstname"><br>
	<input id="lastD" type="text" placeholder="Lastname"><br>
	<input id="mailD" type="text" placeholder="Email"><br>
	<input id="cityD" type="text" placeholder="City"><br>
	<input id="stateD" type="text" placeholder="State"><br>
	<button value="Submit" onclick="addUser("true");">Delete Contact</button>
	<div id="confirmDelete"></div>

	<script>
		function doLogout()
		{
			var params = JSON.stringify({});
			// start ajax call
			var xhr = new XMLHttpRequest();
			xhr.open('post', '/logout', true);
			xhr.setRequestHeader('Content-type', 'application/json');
			xhr.onload = function()
			{
				// this represents a success
				if (this.responseText == "success")
				{
					setTimeout(function()
					{
					 window.location.href = "http://localhost:3000/";
					}, 1000);
					return;
				}
				// show error messages
				document.getElementById("genMsg").innerHTML = this.responseText;
			}
			xhr.send(params);
		}
		window.onload = load;
		function load()
		{
			var params = JSON.stringify({});
			var xhr = new XMLHttpRequest();
			xhr.open('post', '/amLogged', true);
			xhr.setRequestHeader('Content-type', 'application/json');
			xhr.onload = function()
			{
				console.log(this.responseText);
				if (this.responseText == "ERROR #123")
				{
					//redirect
					setTimeout(function()
					{
					 window.location.href = "http://localhost:3000/";
					}, 1);
				}
				else
				{
					//nothing
				}
			}
			xhr.send(params);
		}
		function addUser(modify)
		{
			if (modify == "true")
			{
				var first = document.getElementById("firstN").value;
				var last = document.getElementById("lastN").value;
				var mail = document.getElementById("mailN").value;
				var city = document.getElementById("cityN").value;
				var state = document.getElementById("stateN").value;

				var params = JSON.stringify({});
			  	var xhr = new XMLHttpRequest();
			  	xhr.open('post', '/getContacts', true);
			  	xhr.setRequestHeader('Content-type', 'application/json');

			  	xhr.onload = function()
			  	{
			        var response = this.responseText;
			        // console.log(response);
			        if (this.responseText == "Error no session")
			        {
			            // here
			            setTimeout(function()
						{
						 window.location.href = "http://localhost:3000/contacts";
						}, 1);
			        }
			        else // a JSON object (the contacts) was returned
			        {
			            contacts = response;
			            // search until a unique object is found
			            // fill out rest of fields (make sure none are blank)
			            // THEN api call
			            
			            // if (first != cont)

			            // find a none blank fields, first
			            // if firstname matches more then 1 object
			            // check more fields for match
			            // if no matches tell user more fields needed
			            // if only one object remains
			            // find blank fields in user inputs
			            // replace them with that contacts fields
			        }
			        // console.log(contacts);
      	}

      	xhr.send(params);
			}
			else
			{
				var first = document.getElementById("first").value;
				var last = document.getElementById("last").value;
				var mail = document.getElementById("mail").value;
				var city = document.getElementById("city").value;
				var state = document.getElementById("state").value;
			}
			var params = JSON.stringify(
			{
				"first" : first,
				"last" : last,
				"mail" : mail,
				"city" : city,
				"state": state,
				"modify" : modify
			});

			var xhr = new XMLHttpRequest();
			xhr.open('post', '/addContact', true);
			xhr.setRequestHeader('Content-type', 'application/json');
			xhr.onload = function()
			{
				console.log(this.responseText);
				if (this.responseText == "success")
				{
					document.getElementById("confirmAdd").innerHTML = "Contact Added!";
					setTimeout(function()
					{
					 window.location.href = "http://localhost:3000/Contact";
					}, 1000);

				}
			}

			xhr.send(params);
		}
	</script>
</html>