<!DOCTYPE html>
<html lang="en">

<!-- <a href="/contacts" role="button"> view contacts</a> -->
<a href="/add" role="button"> manage contacts </a>
<a href="/" role="button" onclick="DoLogout()"> logout </a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="container" style="padding:50px 550px;">
	<form role="form">
		<div class="form-group">

		</div>
	</form>
	<div id="delConfirm"></div>
	<input type="text" class="form-control input-lg" id="txt-search"
	placeholder="Who to lookup?" autocomplete="off"> 
	<div id="filter"></div>
</div>

<script>

	var contacts;
	function doLogout()
	{
		var params = JSON.stringify({});
		// start ajax call
		var xhr = new XMLHttpRequest();
		xhr.open('post', '/logout', true);
		xhr.setRequestHeader('Content-type', 'application/json');
		xhr.onload = function()
		{
			// this represents a success
			if (this.responseText == "success")
			{
				setTimeout(function()
				{
				 window.location.href = "http://localhost:3000/";
				}, 1000);
				return;
			}
			// show error messages
			document.getElementById("genMsg").innerHTML = this.responseText;
		}
		xhr.send(params);
	}

	function showContact(val)
	{
		var output = '<div id="' + val.first_name + '"' + '<h5 onclick="showOptions(\'' + val.first_name + '\')">' + val.first_name +
					 " " + val.last_name + '</h5></div>' +
					 '<div id="more' + val.first_name + '"style="display:none; padding-left:10px" onclick="showMore(\'' + val.first_name + '\')">show more</div>' +
					 '<div id="modify' + val.first_name + '"style="display:none; padding-left:10px" onclick="modContact()">modify</div>' +
					 '<div id="delete' + val.first_name + '"style="display:none; padding-left:10px" onclick="delContact(\'' +
					 val.user_id + '\',\'' + val.first_name + '\',\'' + val.last_name + '\')">delete</div>';
		return output;
	}

	function showOptions(contact)
	{
		var showModify = 'modify' + contact;
		var showDelete = 'delete' + contact;
		var showMore = 'more' + contact;
		var toModify = document.getElementById(showModify);
		var toDelete = document.getElementById(showDelete);
		var toShowMore = document.getElementById(showMore);

		if (toModify.style.display == "none")
		{
			toModify.style.display = "block";
			toDelete.style.display = "block";
			toShowMore.style.display = "block";
		}
		else
		{
			toModify.style.display = "none";
			toDelete.style.display = "none";
			toShowMore.style.display = "none";
		}
	}

	function showMore(contact)
	{
		var first;
		var last;
		var city;
		var state;
		var email;

		var contactList = JSON.parse(contacts);
		for (var i in contactList)
		{
			if (contactList[i].first_name == contact)
			{
				first = contactList[i].first_name;
				last = contactList[i].last_name;
				city = contactList[i].city;
				state = contactList[i].state;
				//email = contactList[i].email;
			}
		}
		alert("First name: " + first + "\n" +
			  "Last name: " + last + "\n" +
			  "City: " + city + "\n" +
			  "State: " + state); /* + "\n" +
			  "Email: " + email); */
	}

	function modContact()
	{
		window.location.href = "http://localhost:3000/add";
	}

	function delContact(uid, first, last)
	{
		var params = JSON.stringify({
			"user_id" : uid,
			"first_name" : first,
			"last_name" : last
		});
		// start ajax call
		var xhr = new XMLHttpRequest();
		xhr.open('post', '/deleteContact', true);
		xhr.setRequestHeader('Content-type', 'application/json');
		xhr.onload = function()
		{
			// this represents a success
			if (this.responseText == "success")
			{
				document.getElementById("delConfirm").innerHTML = "Contact removed";
				setTimeout(function()
				{
				 window.location.href = "http://localhost:3000/contacts";
				}, 1000);
				//return;
			}
			// show error messages
			else
			{
				document.getElementById("delConfirm").innerHTML = "API Error";
			}
		}
		xhr.send(params);
	}

	// On load, check if there is a username var defined, if not error
	// else, username is returned. Make ajax call to api for username, store
	// the response (the contacts).
	window.onload = load;
	function load()
	{
		// build JSON
		var params = JSON.stringify({});
      	var xhr = new XMLHttpRequest();
      	xhr.open('post', '/getContacts', true);
      	xhr.setRequestHeader('Content-type', 'application/json');

      	xhr.onload = function()
      	{
            var response = this.responseText;
            if (this.responseText == "Error no session")
            {
                // here
                setTimeout(function()
				{
				 window.location.href = "http://localhost:3000/";
				}, 1);
            }
            else // a JSON object (the contacts) was returned
            {
                contacts = response;
            }
      	}

      	xhr.send(params);

      	setTimeout(function()
		{
			var contactList;
			contactList = contacts;
			contactList = JSON.parse(contactList);
			var output = '';
			$.each(contactList, function(index, val) 
			{
				output += showContact(val);
			});
			$('#filter').html(output);
		}, 10000);
	}

	// Format 'contacts' object retrieved from aws api back to string for regex search
	$('#txt-search').keyup(function()
	{
			contactList = contacts;
			contactList = JSON.parse(contactList);
			var output = '';
			var searchField = $(this).val();

			if (searchField === '')
			{
				$.each(contactList, function(index, val) 
				{
						output += showContact(val);
				});
			}
			else
			{
				var regex = new RegExp(searchField, "i");
				$.each(contactList, function(index, val) 
				{
					if ((val.first_name.search(regex) != -1))// ||
						//(val.sort.search(regex) != -1))
					{
						output += showContact(val);
					}
				});
			}
			$('#filter').html(output);
	});

</script>

</html>
