<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Contact Manager</title>

<style>

body {
	background-color: #2F4F4F;
	text-align: center;
	position: relative;
	font-family:  Trebuchet MS;

}

#txt-search {
	border-radius: 4px;
	border: 2px solid #000000;
}

#view {
	background-color: #DC143C;
	color: black;
	border: 2px solid #000000;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
}

#add {
	background-color: #008000;
	color: black;
	border: 2px solid #000000;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
}
	
	
	
</style>
</head>

<a href="/contacts" role="button" id="view"> view contacts</a>
<a href="/add" role="button" id="add"> add contact </a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="container" style="padding:50px 550px;">
	<form role="form">
		<div class="form-group">

		</div>
	</form>

	<input type="text" class="form-control input-lg" id="txt-search"
	placeholder="Who to lookup?" autocomplete="off"> 
	<div id="filter"></div>
</div>


<!-- Receives 'contacts' obj from res.render, formats it back to a string for regex searching -->
<script>

	function showContact(val)
	{
		var output = '<div id="' + val.user_id + '"' + '<h5 onclick="alert(\'' +
								  'hello ' + val.first_name + '\')">' + val.first_name +
								  " " + val.last_name + '</h5></div>';

		return output
	}
	// On load, check if there is a username var defined, if not error
	// else, username is returned. Make ajax call to api for username, store
	// the response (the contacts).
	// var uName;
	// window.onload = load;
	// function load()
	// {
	// 	// build JSON
	// 	var params = JSON.stringify({});
 //      	var xhr = new XMLHttpRequest();
 //      	xhr.open('post', '/amLogged', true);
 //      	xhr.setRequestHeader('Content-type', 'application/json');

 //      	xhr.onload = function()
 //      	{
 //            var response = this.responseText;
 //            console.log(response);
 //            if (this.responseText == "ERROR #123")
 //            {
 //                // here
 //            }
 //            else
 //            {
 //                uName = this.responseText;

 //                // ajax call
 //                axios.post('https://nckcvqqm1m.execute-api.us-east-2.amazonaws.com/dev/lookup',
 //                {
 //                	"user_id": uname
 //                })
 //                .then(function (response)
 //                {

 //                });
 //            }
 //      	}

 //      	xhr.send(params);
	// }

	// Format 'contacts' object retrieved from aws api back to string for regex search
	var contactList = <%-JSON.stringify(contacts)%>

	$('#txt-search').keyup(function()
	{
			var output = '';
			var searchField = $(this).val();

			if (searchField === '')
			{
				$('#filter').html('');
				return;
			}
			else
			{
				var regex = new RegExp(searchField, "i");
				$.each(contactList, function(index, val) 
				{
					if (val.first_name.search(regex) != -1 ||
						val.last_name.search(regex) != -1)
					{
						output += showContact(val);
					}
				})
			}
			$('#filter').html(output);
	});

</script>

</html>
