<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>


</style>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
	
	  <a href="/login" role="button"> login</a> <br></br>
	  <a href="/register" role="button">register </a> <br></br>
	  <a href="/contacts" role="button">contacts </a> <br></br>
	<form action="/" method="post">
	  <input name="target" type="text" class="ghost-input" placeholder="Username" required>
	  <input type="submit" class="ghost-button" value=" ">
	</form>
	<form action="/" method="post">
	  <input name="target" type="text" class="ghost-input" placeholder="Password" required>
	  <input type="submit" class="ghost-button" value=" ">
	</form>


	  functions in /routes/ manage changing the views when these are interacted with. For example, clicking contacts calls router.get('/contacts') and '/contacts' refers to the contacts.ejs view in views/
    </body>
</html>


