<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>


</style>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>

  <a href="/login" role="button"> login</a>
  <a href="/register" role="button">register </a>
  <a href="/contacts" role="button"> view contacts</a>
  <a href="/add" role="button"> add contact </a>


  functions in /routes/ manage changing the views when these are interacted with. For example, clicking contacts calls router.get('/contacts') and '/contacts' refers to the contacts.ejs view in views/
    </body>
</html>


