<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>


</style>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
	
	  <a href="/login" role="button"> login</a> <br></br>
	  <a href="/register" role="button">register </a> <br></br>
	  <a href="/contacts" role="button">contacts </a> <br></br>
	  <div class="container">
	    <label for="uname"><b>Username</b></label>
	    <input type="text" placeholder="Enter Username" name="uname" required>

	    <label for="psw"><b>Password</b></label>
	    <input type="password" placeholder="Enter Password" name="psw" required>

	    <button type="submit">Login</button>
	    <label>
	      <input type="checkbox" checked="checked" name="remember"> Remember me
	    </label>
	  </div>




	  functions in /routes/ manage changing the views when these are interacted with. For example, clicking contacts calls router.get('/contacts') and '/contacts' refers to the contacts.ejs view in views/
    </body>
</html>


